#login_splash_page {
  padding-top: 35%;
}

#login_signup {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  height: 100%;
  background-image: url("./images/flatiron_blg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#login_div {
  background-color: blue;
  opacity: 0.85;
}

#side_navbar {
  padding-left: 35px;
  padding-top: 30px;
  display: none;
  background-color: white;
}

#content_body {
  padding-left: 255px;
}

#subwayLines {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  height: 100%;
}

#lirrModal {
  width: 230px;
  height: 430px;
}
