#login_signup {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  height: 100%;
}

#login_signup_left {
  background: red;
}

#login_box {
  margin-top: 10%;
  padding-left: 45px;
  padding-right: 45px;
}

#signup_box{
  padding: 100px;
}

#welcome_text {
  border: 1px solid yellow;
  vertical-align: middle;
}

#login_splash_page {
  padding-top: 200px;
}
